# Ignore everything unless explicitly added.
*


### bash ###
!.bashrc
!.profile
!.bash_profile
!.bash_utils
!.configure_bash.sh
!.bash_scripts/
!.bash_aliases
!.bash_command_prompt



### git ###
!.gitconfig
!.gitignore

!brew_packages.md


### zshell ###
!.zprofile
!.zshrc

### iterm2 ###
# General preferences:
!com.googlecode.iterm2.plist
# Profile:
!iterm2_profile_emil.json

### sleepwatcher ###
!.sleep
!.wakeup

### other ###
!.shellcheckrc
!README.md
!Dockerfile
!.config/glab-cli/aliases.yml
!.config/gh/config.yml
!burp-suite-emil.json
!speedtest.py

### iterm2 ###
# https://stackoverflow.com/questions/65776556/exclamation-mark-in-gitignore-doesnt-work
!Library/
!Library/Application Support/
!Library/Application Support/iTerm2/
!Library/Application Support/iTerm2/Scripts/
!Library/Application Support/iTerm2/Scripts/*

### fish ###
!Projects/
!Projects/.XDG_CONFIG_HOME/
!Projects/.XDG_CONFIG_HOME/fish/
!Projects/.XDG_CONFIG_HOME/fish/functions/
!Projects/.XDG_CONFIG_HOME/fish/functions/**
!Projects/.XDG_CONFIG_HOME/fish/config.fish