[user]
	name = Emil Telstad
	email = 22004178+emilte@users.noreply.github.com
	# signingkey = /path/to/.ssh/id_ed25519.pub
[pull]
	rebase = false
[core]
	editor = nano
	autocrlf = input
[init]
	defaultBranch = master
[push]
	autoSetupRemote = true
[commit]
	gpgsign = false
[gpg]
	format = ssh
[alias]
	m = !git co "$(git default)" && git pull
	co = switch
	s = status
	f = fetch
	p = pull
	is-diff = diff --quiet
	is-repo = !git rev-parse --is-inside-work-tree >/dev/null 2>&1
	# (old) current = rev-parse --abbrev-ref HEAD # Get name of current branch.
	current = branch --show-current # Get name of current branch.
	current-upstream = rev-parse --abbrev-ref @{push} # Get name of current branch.

	fetch-bg = !true # Fetch current branch in background.
	# fetch-bg = !git fetch origin $(git current) &>/dev/null & # Fetch current branch in background.

	ab = !git fetch-bg && git rev-list --left-right --count $(git current-upstream)...$(git current) | awk '{print $1 \"⬇ \" $2 \"⬆\"}' # ahead-behind with arrows
	
	# (old) default = !"git symbolic-ref refs/remotes/origin/HEAD | sed 's#.*/##'" # Get name of default branch.
	default = !git rev-parse --abbrev-ref origin/HEAD | sed 's|^origin/||' # Get name of default branch.

	is-default = ![ "$(git current)" = "$(git default)" ] # Determine if current branch is the default branch.
	remote-url = config --get remote.origin.url # Get remote origin url.
	remote-url-http = ! url=$(git remote-url) && url=${url/://} && url=${url/*@/https://} && echo $url # Replaces colon from string
	is-glab = ![[ "$(git remote-url)" == "git@gitlab"* ]]
	is-gh = ![[ "$(git remote-url)" == "git@github"* ]]
	st = stash --include-untracked
	sta = stash apply

	ub = !git prm && git fpush # Update branch with latest changes from default branch with rebase.
	ubm = !git pmm && git push # Update branch (merge) with latest changes from default branch with merge.

	# Updates local default branch with latest changes from remote, no checkout needed.
	# If default branch, run git pull, otherwise run custom pull. (Custom pull didn't work on the default branch.)
	# TEST && ( THEN_EXPRESSIONS ) || (ELSE_EXPRESSIONS ) # https://www.baeldung.com/linux/one-line-if-else-condition
	# https://stackoverflow.com/a/53667801/12616507
	# pm = "!git fetch origin  && git is-default && git pull || { BRANCH=$(git default); echo \"Pulling origin/$BRANCH into $BRANCH ...\"; git fetch origin $BRANCH:$BRANCH; echo \"Branch $BRANCH is now up to date.\"; }"
	pm = "!git is-default && git pull || { BRANCH=$(git default); echo \"Pulling origin/$BRANCH into $BRANCH ...\"; git fetch origin $BRANCH:$BRANCH; echo \"Branch $BRANCH is now up to date.\"; }"
	
	# (old alias) pm = !"git stash | awk '/No local changes to save/' | grep . ; WAS_CLEAN=$? && git co $(git default) && git fetch --all && git pull && git co - && [ $WAS_CLEAN = 1 ] && git stash apply"
	is-behind = !git status -sb | grep behind
	prm = !git pm && git rebase origin/$(git default)
	pmm = !git pm && git merge origin/$(git default)
	fpush = !git push --force-with-lease origin $(git current) # Force push with lease.
	af = !git amend && git fpush # Shortcut.
	aaf = !git add -A && git af # Shortcut.
	myprune = !git fetch --prune && git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -d # Prune deleted branches.
	fix = commit --fixup # <commit> # Add fixup commit to another commit.
	olog = log --oneline # Less verbose log.
	ologg = olog -g # Include reflog.
	squash = rebase -i --autosquash # <branch> # Autosquashes fixup commits.
	amend = commit --amend --verbose # Amend staged changes to last commit.
	freset = !git reset --hard @{upstream} # Hard reset current branch.
	mr = !glab mr view --web # Open current merge request on GitLab in browser.
	pr = !gh pr view --web # Open current merge request on GitHub in browser.

	repo = ! open $(git remote-url-http) # Open repository in browser.

	# https://stackoverflow.com/a/3528483/12616507
	down = reset --soft --keep HEAD^ # Move HEAD down one commit , keep changes in staged.
	# undo = reset --soft --keep HEAD~1 # Move HEAD back one commit, keep changes in staged.
	undo = reset --mixed --keep HEAD@{1} # Undo last action.

# https://www.youtube.com/watch?v=aolI_Rz0ZqY&ab_channel=GitButler
[maintenance]
	auto = false
	strategy = incremental
# [rerere]
	# enabled = true # Remember merge conflict and fix for me. Even rebase.
