# Ignore everything unless explicitly added.
*


### bash ###
!.bashrc
!.profile
!.bash_profile
!.configure_bash.sh
!.bash_scripts/
!.docker_testing/


### git ###
!.gitconfig
!.gitignore


### zshell ###
!.zprofile
!.zshrc