experimental_monorepo_root = true

[monorepo] # https://mise.jdx.dev/tasks/monorepo.html
config_roots = []

[hooks.enter]
shell = "fish"
script = "tabcolorx (pwdcolor)"
[hooks.leave]
shell = "fish"
script = "tabcolorx"

[shell_alias] # https://mise.jdx.dev/shell-aliases.html
debug = "echo '{{ config_root }}'"
ws = "code {{config_root}}"
"w." = "ws"
root = "cd {{config_root}}"
up = "mise run --continue-on-error //...:up"
sync = "mise run --continue-on-error //...:sync"
lock = "mise run --continue-on-error //...:lock"
outdated = "mise run --continue-on-error //...:outdated"
lint = "mise run --continue-on-error //...:lint"
qa = "mise run --continue-on-error //...:qa"
# End [shell_alias]