
[tasks] # https://mise.jdx.dev/tasks/
lint = "echo Not implemented; false"
qa = "echo Not implemented; false"
types = "echo Not implemented; false"

[tasks.sync]
extends = "uv:sync"

[tasks.up]
extends = "uv:up"

[tasks.lock]
extends = "uv:lock"

[tasks.outdated]
extends = "uv:outdated"
####################### End [tasks] #######################


[shell_alias] # https://mise.jdx.dev/shell-aliases.html
lint = "mise run lint"
qa = "mise run qa"
types = "mise run types"

sync = "mise run sync"
up = "mise run up"
lock = "mise run lock"
outdated = "mise run outdated"
# End: [shell_alias]