[settings]
experimental = true
idiomatic_version_file_enable_tools = ["python", "node"]

[hooks.enter]
shell = "fish"
script = "load-aliases"

[env]
# https://mise.jdx.dev/environments/

[shell_alias]
# https://mise.jdx.dev/shell-aliases.html
debug = "echo '{{ config_root }}'"
ws = "code {{config_root}}"
root = "cd {{config_root}}"